#btn {
    margin: 1rem;
    display: flex;
    justify-content: center;    
}

.apiText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    background-color: lightgrey;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-around;
}

.column {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    color:cornflowerblue;
}

.inputFld {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    height: 50px;
    background: royalblue;
    border-radius: 10px;
    color: white;
    outline: none;
}

.time {
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    color: limegreen;
}

.errBG {
    background: red;
}

.successBG {
    background: lightgreen;
}

